Operation
*oprand
*operators

In [1]:
print(5*2)

10

In [2]:
print (5+2)

7

In [4]:
print (5/2) # Float

2.5

In [5]:
print (5**2) # power

25

In [3]:
print (5//2) # floor divion

2

In [4]:
print(11 % 3) # Modulus / Reminders

2

# = Equal operator 
    asssign any value to varibale (placeholder)
    syntax
    variable_name =value
    any data type

In [14]:
school ="PIAIC"
batch  = "36/37"
teacher = "Muhammad Qasim"
timing  = "9 am to 12 pm"

print (school)
print(batch)
print(teacher)
print(timing)

print (school)
print(batch)
print(teacher)
print(timing)

print (school)
print(batch)
print(teacher)
print(timing)

print (school)
print(batch)
print(teacher)
print(timing)

PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm

In [16]:
print(id(name))
print(id(batch))
print(id(teacher))
print(id(timing))

2741250240880
2741250169968
2741250170416
2741250170096

In [15]:
name = "Muhammad Imran Wali"
print (name) #Predifine petrun

Muhammad Imran Wali

# use some pre-dine function

  *print()
*type()
*id()
*len()

In [13]:
name = "Muhammad Imran Wali"
print(type(name))# class type data type
print(id(name)) # memory address
print(len(name)) # len use for count of character

<class 'str'>
2741203627264
19

In [ ]:
print(id(name))